<!DOCTYPE html>
<html class="no-js" lang="es">

<head>
  <%- include('../partials/head', {title: 'Postulación a Convocatoria'}); %>

  <link rel="stylesheet" href="/assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" />
  <link rel="stylesheet" href="/assets/plugins/dropzone/dropzone.css" />
  <link rel="stylesheet" href="/assets/plugins/bootstrap-select/css/bootstrap-select.css" />
  <link rel="stylesheet" href="/assets/plugins/select2/select2.css" />
  <link rel="stylesheet" href="/assets/plugins/sweetalert/sweetalert.css" />
  <link rel="stylesheet" href="/light/assets/css/main.css">

  <script src="https://kit.fontawesome.com/c1c34b92ef.js" crossorigin="anonymous"></script>
</head>

<body class="theme-purple">
  <%- include('../partials/app/header') %>
  <%- include('../partials/app/topbar'); %>
  <%- include('../partials/app/leftsidebar', {user}); %>

  <!-- Main Content -->
  <section class="content">
    <div class="block-header">
      <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
          <h2>
            Convocatoria para nuevos docentes<small>Registre su postulación para una plaza de nuevo docente
            </small>
          </h2>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12">
          <ul class="breadcrumb float-md-right">
            <li class="breadcrumb-item">
              <a href="/"> <i class="zmdi zmdi-home"></i>App</a>
            </li>
            <li class="breadcrumb-item">
              <a href="/guest">Portal de Visitante</a>
            </li>
            <li class="breadcrumb-item active">Convocatoria</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <!-- Register User -->
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="header">
              <h2>
                <strong>Complete los siguientes datos</strong>
              </h2>
            </div>
            <div class="body">
              <div class="row clearfix">
                <div class="col-md-4">
                  <label for="firstName">Nombres <span class="required-field">*</span></label>
                  <div class="form-group">
                    <input type="text" class="form-control" name="firstName" id="first-name" placeholder="Ingrese los nombres del usuario" required />
                  </div>
                </div>
                <div class="col-md-4">
                  <label for="paternlastName">Apellido Paterno
                    <span class="required-field">*</span></label>
                  <div class="form-group">
                    <input type="text" class="form-control" name="paternlastName" id="patern-last-name" placeholder="Ingrese el apellido paterno del usuario" required />
                  </div>
                </div>
                <div class="col-md-4">
                  <label for="maternlastName">Apellido Materno</label>
                  <div class="form-group">
                    <input type="text" class="form-control" name="maternlastName" id="matern-last-name" placeholder="Ingrese el apellido materno del usuario" required />
                  </div>
                </div>
              </div>

              <div class="row clearfix pt-2">
                <div class="col-md-4">
                  <label for="birthday">Fecha de Nacimiento
                    <span class="required-field">*</span></label>
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="zmdi zmdi-calendar"></i>
                    </span>
                    <input type="text" class="form-control date" id="birthday" placeholder="Elija la fecha de nacimiento" data-dtp="dtp_wghlr" required />
                  </div>
                </div>
                <div class="col-md-4">
                  <label for="email">Correo <span class="required-field">*</span></label>
                  <div class="form-group">
                    <input type="email" name="email" class="form-control" id="email" placeholder="Ingrese el correo PUCP del usuario" required />
                  </div>
                </div>
                <div class="col-md-4">
                  <label for="gender" style="padding-top: 10px !important;">Sexo <span class="required-field">*</span></label>
                  <div class="form-group">
                    <div class="radio inlineblock m-r-20">
                      <input type="radio" name="gender" id="male" class="with-gap" value="m" checked />
                      <label for="male">Masculino</label>
                    </div>
                    <div class="radio inlineblock">
                      <input type="radio" name="gender" id="female" class="with-gap" value="f" />
                      <label for="female">Femenino</label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row clearfix pt-2">
                <div class="col-md-4">
                  <label class="mb-1" for="docType">Tipo de Documento
                    <span class="required-field">*</span></label>
                  <select class="form-control show-tick ms select2" name="docType" id="doc-type" data-placeholder="Seleccione un Tipo de Documento" style="height: 38px !important;" required>
                    <option></option>
                    <option value="DNI">DNI</option>
                    <option value="CE">CE</option>
                  </select>
                </div>

                <div class="col-md-4">
                  <label for="docNumber">Número de Documento
                    <span class="required-field">*</span></label>
                  <div class="form-group">
                    <input type="number" name="docNumber" class="form-control" id="doc-number" placeholder="Ingrese el número de documento del usuario" required />
                  </div>
                </div>
                <div class="col-md-4">
                  <label for="phone">Teléfono / Celular
                    <span class="required-field">*</span></label>
                  <div class="form-group">
                    <input type="number" name="phone" class="form-control" id="phone" placeholder="Ingrese el número telefónico del usuario" />
                  </div>
                </div>
              </div>

              <div class="row clearfix pt-3">
                <div class="col-12 col-md-6">
                  <label class="mb-1" for="description">Anexos</label>
                  <div class="table-responsive">
                    <table id="files-uploaded" class="table table-bordered table-striped">
                      <thead style="background-color: #167bc3; color: white">
                        <tr>
                          <th>Nombre de Archivo</th>
                          <th>Acción</th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>

                    <div class="text-center" id="message-no-files">
                      No hay archivos adjuntos
                    </div>

                    <div class="float-right">
                      <button class="btn btn-primary waves-effect" data-toggle="modal" data-target="#loadFilesModal">
                        Adjuntar Archivos
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row clearfix pt-2">
                <div class="col-lg-12">
                  <div class="float-right" style="padding-top: 10px !important">
                    <a type="button" class="btn btn-danger waves-effect" href="/guest/select-convocation">
                      Regresar
                    </a>
                    <button id="send-postulation" class="btn btn-primary ml-3">
                      Enviar
                    </button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="modal fade show" id="loadFilesModal" tabindex="-1" role="dialog" aria-modal="true" style="display: none">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #167bc3">
          <h4 class="title text-white">Carga de Archivos</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12">
              <form id="upload-files" method="post" class="dropzone">
                <input type="hidden" name="_csrf" id="csrf" value="<%= csrfToken %>" />
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="float-left"></div>
          <div class="float-right">
            <button id="accept-files-uploaded" class="btn btn-primary btn-round waves-effect" data-dismiss="modal">
              Aceptar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('../partials/app/scripts', {view: 'sb-table-request'}); %>

  <script src="/assets/plugins/momentjs/moment.js"></script>
  <script src="/assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
  <script src="/assets/plugins/bootstrap-notify/bootstrap-notify.js"></script>
  <script src="/light/assets/bundles/mainscripts.bundle.js"></script>
  <script src="/assets/plugins/dropzone/dropzone.js"></script>
  <script src="/assets/plugins/select2/select2.min.js"></script>
  <script src="/assets/plugins/momentjs/moment.js"></script>
  <script src="/assets/plugins/sweetalert/sweetalert.min.js"></script>

  <script>
    var today = moment(new Date()).format("DD/MM/YYYY");
    var idSeccion =  parseInt("<%= idSeccion %>");
    var idPlazaDocente = parseInt("<%= idPlazaDocente %>");
  </script>

  <script src="/js/guest/teaching-convocation.js" type="module"></script>
</body>

</html>