<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <%- include('../partials/head', {title: 'Listado de Secciones'}); %>
    <link rel="stylesheet" href="/assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css"/>

    <link rel="stylesheet" href="/assets/plugins/dropzone/dropzone.css">

    <script src="https://kit.fontawesome.com/c1c34b92ef.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/plugins/select2/select2.css" />
    <link rel="stylesheet" href="/light/assets/css/main.css">

    <link rel="stylesheet" href="/assets/plugins/sweetalert/sweetalert.css"/>

    <style>
        .section-selected {
            background-color: #FFF8B5 !important;
        }

        /*.modal {
            /*padding-top: 50px !important;
        }*/

        #table-sections-preview thead th,
        #table-sections-preview thead td {
            padding: 8px 10px;
            /* e.g. change 8x to 4px here */
        }

        #table-sections-preview tbody th,
        #table-sections-preview tbody td {
            padding: 4px 10px;
            /* e.g. change 8x to 4px here */
        }

        .hide_column {
            display : none;
        }
    </style>
</head>

<body class="theme-purple">
<%- include('../partials/app/header') %>
<%- include('../partials/app/topbar'); %>
<%- include('../partials/app/leftsidebar', {user}); %>

<section class="content">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>
                    Secciones
                    <small>Listado de Secciones</small>
                </h2>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <ul class="breadcrumb float-md-right">
                    <li class="breadcrumb-item">
                        <a href="/"><i class="zmdi zmdi-home"></i>App</a>
                    </li>
                    <li class="breadcrumb-item"><a href="/">Secciones</a></li>
                    <li class="breadcrumb-item active">Listado de Secciones</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="header">
                        
                        <div class="row pt-2">
                            <div class="col-sm-12">
                                <button class="btn btn-primary waves-effect" data-toggle="modal"
                                        data-target="#loadMasiveDataModal">
                                    Carga Masiva
                                </button>
                                <div class="float-right">
                                    <button id="delete-section-modal" type="button" class="btn btn-danger waves-effect"
                                            data-toggle="modal" data-target="#deleteSectionModal">
                                        Eliminar
                                    </button>
                                    <button id="edit-section-modal" type="button" class="btn btn-info">
                                        Editar 
                                    </button>
                                    <a type="button" class="btn btn-primary" href="/department-assistant/register-section">
                                        Agregar </a>
                                    </a>
                                </div>
                            </div>
                        </div>

                
                    </div>

                    <div class="body">

                        <div class="row clearfix">
                            <div class="col-md-4" id="listDepartments" style="display:none !important;" >
                                <b class="pl-1">Departamento</b>
                                <select class="form-control show-tick ms select2" name="department" id="department" data-placeholder="Seleccione un Departamento" style="height: 38px !important;" required>
                                <option value="Todos">TODOS</option>
                                <% for (let department of departments ) { %>
                                <option value="<%= department.idDepartamento %>">
                                    <%= department.nombre %>
                                </option>
                                <% } %>
                                </select>
                            </div>
                        </div>
                        <input type="hidden" name="jwt" id="jwt" value="<%= jwt %>" />
                       
                        <table id="sections-data-table" class="
                    table table-bordered table-striped table-hover
                    dataTable
                    js-exportable
                  ">
                            <thead style="background-color: #167bc3; color:white">
                            <tr>
                                <th>Código</th>
                                <th>Nombre de la sección</th>
                                <th>Fecha de creación</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>

                        <div class="row clearfix">
                            <div class="col-3">
                                <input type="hidden" id="array-select" class="form-control">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
</section>

<div class="modal fade show" id="deleteSectionModal" tabindex="-1" role="dialog" style="display: none;"
     aria-modal="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header bg-red">
                <h4 class="title pt-10">Eliminar Sección</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <div class="float-left">
                    <button id="close-delete-section-modal"
                            class="btn btn-danger btn-round waves-effect justify-content-center" data-dismiss="modal">
                        Cancelar
                    </button>
                </div>

                <div class="float-right">
                    <button id="delete-section" class="btn btn-primary btn-round waves-effect justify-content-center">
                        Eliminar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<button id="activate-edit-modal" data-toggle="modal" data-target="#editSectionModal" style="display: none;">
</button>

<div class="modal fade show" id="editSectionModal" tabindex="-1" role="dialog" style="display: none;" aria-modal="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #2CA8FF;">
                <h4 class="title pt-10 text-white">Editar Sección</h4>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    Usted no ha seleccionado ninguna sección
                </div>
            </div>
            <div class="modal-footer">
                <div class="float-left">
                    <button class="btn btn-danger btn-round waves-effect" data-dismiss="modal">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade show" id="loadMasiveDataModal" tabindex="-1" role="dialog" aria-modal="true"
     style="display: none">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #167bc3;">
                <h4 class="title text-white">Carga Masiva de Secciones</h4>
            </div>
            <div class="modal-body">
               
                <div class="row">
                    <div class="col-lg-12 pb-3">
                        <a type="button"  id="cargaMasiva-dpto" class="btn btn-round waves-effect g-bg-cgreen text-white"
                           href="/files/Formato-Secciones.xlsx">
                            Descargar Formato en Excel
                            <i class="fas fa-download pl-2"></i>
                        </a>
                        <a type="button" id="cargaMasiva-admin"class="btn btn-round waves-effect g-bg-cgreen text-white"
                           href="/files/Formato-Secciones-Admin.xlsx">
                            Descargar Formato en Excel
                            <i class="fas fa-download pl-2"></i>
                        </a>
                    </div>

                    <div class="col-lg-12">
                        <form id="upload-widget" method="post" class="dropzone">
                            <input type="hidden" name="_csrf" id="csrf" value="<%= csrfToken %>"/>
                        </form>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div class="float-left">
                    <button id="close-load-massive-modal" class="btn btn-danger btn-round
                      waves-effect" data-dismiss="modal">
                        Cancelar
                    </button>
                </div>

                <div class="float-right">
                    <button id="load-data-sections" class="
                      btn btn-primary btn-round
                      waves-effect
                    ">
                        Cargar Archivo
                       
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade show" id="previewDataModal" tabindex="-1" role="dialog" aria-modal="true" style="display: none;">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #167bc3;">
                <h4 class="title text-white">Vista Previa de Secciones</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable"
                       id="table-sections-preview" style="display:none !important;">
                    <thead style="background-color: #167bc3; color:white">
                    <tr>
                        <th>Código</th>
                        <th>Nombre de la sección</th>
                        <th>Fecha de creación</th>
                    </tr>
                    </thead>
                    <tbody id="sections-loaded">
                    </tbody>
                    </table>

                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable"
                    id="table-sections-preview-admin" style="display:none !important;">
                    <thead style="background-color: #167bc3; color:white">
                    <tr>
                        <th>Código</th>
                        <th>Nombre de la sección</th>
                        <th>Departamento</th>
                        <th>Fecha de creación</th>
                    </tr>
                    </thead>
                    <tbody id="sections-loaded">
                    </tbody>
                    </table>
                </div>
                <div id="errors" class="pt-3"></div>
            </div>
            <div class="modal-footer">
                <div class="float-left">
                    <button id="close-preview-sections-modal" class="btn btn-danger btn-round
                      waves-effect" data-dismiss="modal">
                        Cancelar
                    </button>
                </div>

                <div class="float-right">
                    <button id="load-sections-massive" class="
                      btn btn-primary btn-round
                      waves-effect
                    ">
                        Cargar Secciones
                        <i class="fas fa-file-upload pl-2"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<button id="open-preview-modal" data-toggle="modal" data-target="#previewDataModal" style="display: none;">
</button>

<button id="success-delete-section" class="btn btn-raised btn-primary waves-effect btn-round" data-type="success"
        style="display: none;">CLICK ME
</button>

<%- include('../partials/app/scripts', {view: 'sb-list-sections'}); %>


<script src="/light/assets/bundles/datatablescripts.bundle.js"></script>
<script src="/assets/plugins/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
<script src="/assets/plugins/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
<script src="/assets/plugins/jquery-datatable/buttons/buttons.colVis.min.js"></script>
<script src="/assets/plugins/jquery-datatable/buttons/buttons.html5.min.js"></script>
<script src="/assets/plugins/jquery-datatable/buttons/buttons.print.min.js"></script>
<script src="/assets/plugins/dropzone/dropzone.js"></script>
<script src="/assets/plugins/bootstrap-notify/bootstrap-notify.js"></script>
<script src="/assets/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/light/assets/bundles/mainscripts.bundle.js"></script>
<script src="/assets/plugins/select2/select2.min.js"></script>

<script>
    var sections = JSON.parse('<%-JSON.stringify(sections)%>');
    var departments = JSON.parse('<%-JSON.stringify(departments)%>');
    var idPersona = parseInt("<%= user.idPersona %>");
    var idDepartment = parseInt("<%= user.idDepartamento %>");
    var user = JSON.parse('<%-JSON.stringify(user)%>');
    var jwt = "<%= jwt %>";
</script>

<script src="/js/department-assistant/list-sections.js" type="module"></script>

</body>

</html>