<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <%- include('../partials/head', {title: 'Proceso de evaluación docente' }); %>
  <link rel="stylesheet" href="/assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css" />
  <base href="/department-assistant/">
  <link rel="stylesheet" href="/assets/plugins/select2/select2.css" />
  <link rel="stylesheet" href="/light/assets/css/main.css">
  <link rel="stylesheet" href="/assets/plugins/dropzone/dropzone.css">
  <!-- Range Slider Css -->
  <link rel="stylesheet" href="../assets/plugins/ion-rangeslider/css/ion.rangeSlider.css" />
  <link rel="stylesheet" href="../assets/plugins/ion-rangeslider/css/ion.rangeSlider.skinFlat.css" />
  <link rel="stylesheet" href="/assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" />
  <script src="https://kit.fontawesome.com/c1c34b92ef.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/assets/plugins/sweetalert/sweetalert.css" />
  <style>
    .teacher-selected {
      background-color: #fff8b5 !important;
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }

    .modal {
      padding-top: 100px !important;
    }
  </style>
</head>

<body class="theme-purple">
  <%- include('../partials/app/header') %>
  <%- include('../partials/app/topbar'); %>
  <%- include('../partials/app/leftsidebar', {user}); %>

  <section class="content">
    <div class="block-header">
      <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
          <h2>
            Proceso de evaluación docente
            <small>Listado de docentes</small>
          </h2>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12">
          <ul class="breadcrumb float-md-right">
            <li class="breadcrumb-item">
              <a href="/"><i class="zmdi zmdi-home"></i>App</a>
            </li>
            <li class="breadcrumb-item"><a href="/">Docentes</a></li>
            <li class="breadcrumb-item active">Proceso de evaluación docente</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid">

      <div class="row clearfix">
        <div class="col-lg-12">
          <div class="card">
            <div class="header">
              <!-- change semester later -->
              <h2><strong>Proceso de evaluación docente</strong></h2>
            </div>

            <div class="body">
              <input type="hidden" name="jwt" id="jwt" value="<%= jwt %>" />
              <div class="irs-demo m-b-30 m-l-100 m-r-100">
                <input type="text" id="range_09" value="" />
              </div>

              <div class="row clearfix pb-0 ">
                <div class="col-md-3">
                  <label for="beginning">Fecha de Inicio para las secciones
                  </label>
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="zmdi zmdi-calendar"></i>
                    </span>
                    <input type="text" class="form-control date" id="beginning" placeholder="Elija la fecha de inicio" data-dtp="dtp_wghlr" required />
                  </div>
                </div>
                <div class="col-md-3">
                  <label for="end">Fecha Fin para las secciones
                  </label>
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="zmdi zmdi-calendar"></i>
                    </span>
                    <input type="text" class="form-control date" id="end" placeholder="Elija la fecha fin" data-dtp="dtp_wghlr" required />
                  </div>
                </div>
              </div>

              <div class="row pt-2 blocks ">
                <div class="col-sm-12">
                  <button type="button" class="btn btn-primary initp">
                    Crear proceso
                  </button>
                  <button type="button" class="btn btn-danger endp" disabled>
                    Finalizar proceso
                  </button>

                  <div class="col-md-4 d-inline-block">
                    <label class="mb-1" for="selectSection">Sección </label>
                    <select class="form-control show-tick ms select2" name="selectSection" id="selectSection" data-placeholder="Seleccione una sección" style="height: 38px !important;" required>
                      <option></option>
                     
                      <% for (let section of sections ) { %>
                      <option value="<%= section.idSeccion %>"><%= section.nombre %></option>
                      <% } %>
                    </select>
                  </div>

                  <div class="float-right m-t-20">

                    <button id="view-modal" class="btn btn-info waves-effect margin-off" data-color-name="alert-warning" style="width:15em !important;" data-toggle="modal">
                      Ver evaluación
                    </button>
                   

                  </div>
                </div>
              </div>

              <label class="mb-1 pt-3"> <strong> Docentes evaluados </strong></label>
              <!-- Exportable Table -->
              <div class="table-responsive">
                <table id="teachers-data-table" class="
                table table-bordered table-striped table-hover
                  dataTable
                  js-exportable
                ">
                  <thead style="background-color: #167bc3; color:white">
                    <tr>
                        <th>Código</th>
                        <th>Docente</th>
                        <th>Dedicación</th>
                        <th>Categoría</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
              <!-- #END# Exportable Table -->
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="modal fade show" id="viewModal" tabindex="-1" role="dialog" style="display: none;"
     aria-modal="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-blue">
              <h4 class="title pt-10">Criterios de evaluación</h4>
            </div>
            <div class="modal-body">
            
              <div class="table-responsive">
                <table id="evaluations-data-table" class="
                table table-borderless table-striped table-hover table-sm
                dataTable
                js-exportable
              ">
                <thead style="background-color: #167bc3; color:white">
                  <tr>
                    <th>Descripción</th>
                    <th>Calificación</th>
                  </tr>
                </thead>
                <tbody id="append-table-tbody">
                  <!-- courses have to be replace with requests -->
                <!--<tr>
                    <td> Responsabilidad social</td>
                    <td> </td>
                  </tr>
                  <tr>
                    <td> Investigación</td>
                    <td> </td>
                  </tr>-->
                </tbody>
                </table>
              </div>
            </div>
           

            <div class="modal-footer">
              <div class="float-left">
                <button id="close-modal"
                        class="btn btn-danger btn-round waves-effect justify-content-center" data-dismiss="modal">
                    Cerrar
                </button>
            </div>
            </div>
        </div>
    </div>
  </div>


  <%- include('../partials/app/scripts', {view: 'sb-process-evaluation' }); %>

  <!-- Jquery DataTable Plugin Js -->

  <script src="/light/assets/bundles/datatablescripts.bundle.js"></script>
  <script src="/assets/plugins/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
  <script src="/assets/plugins/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
  <script src="/assets/plugins/jquery-datatable/buttons/buttons.colVis.min.js"></script>
  <script src="/assets/plugins/jquery-datatable/buttons/buttons.html5.min.js"></script>
  <script src="/assets/plugins/jquery-datatable/buttons/buttons.print.min.js"></script>

  <script src="/assets/plugins/bootstrap-notify/bootstrap-notify.js"></script>
  <script src="/light/assets/bundles/mainscripts.bundle.js"></script>
  <script src="/assets/plugins/select2/select2.min.js"></script>
  <script src="/assets/plugins/ion-rangeslider/js/ion.rangeSlider.js"></script> <!-- RangeSlider Plugin Js -->
  <script src="/assets/plugins/momentjs/moment.js"></script>
  <script src="/assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>

  <script>
    var sections = JSON.parse('<%-JSON.stringify(sections)%>');
    var idDepartamento = "<%= user.idDepartamento %>";
    
  </script>

  <script src="/js/department-assistant/process-evaluation.js" type="module"></script>

</body>

</html>