<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <%- include('../partials/head', {title: 'Listado de Plazas para nuevos docentes' }); %>
    <link rel="stylesheet" href="/assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css" />
    <base href="/department-assistant/">
    <link rel="stylesheet" href="/assets/plugins/select2/select2.css" />
    <link rel="stylesheet" href="/light/assets/css/main.css">   
    <link rel="stylesheet" href="/assets/plugins/dropzone/dropzone.css">
    <!-- Range Slider Css -->
    <link rel="stylesheet" href="../assets/plugins/ion-rangeslider/css/ion.rangeSlider.css" />
    <link rel="stylesheet" href="../assets/plugins/ion-rangeslider/css/ion.rangeSlider.skinFlat.css" />
    <link
      rel="stylesheet"
      href="/assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css"
    />
    <script src="https://kit.fontawesome.com/c1c34b92ef.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/assets/plugins/sweetalert/sweetalert.css" />
    <style>
      .request-places-new-teachers-selected {
        background-color: #fff8b5 !important;
      }

      /* Chrome, Safari, Edge, Opera */
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      input[type="number"] {
        -moz-appearance: textfield;
      }

      .modal {
        padding-top: 250px !important;
      }

      th {
        text-align: center; 
      }
    </style>
</head>

<body class="theme-purple">
  <%- include('../partials/app/header') %>
    <%- include('../partials/app/topbar'); %>
      <%- include('../partials/app/leftsidebar', {user}); %>

        <section class="content">
          <div class="block-header">
            <div class="row">
              <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>
                  Plazas para ascenso de docentes
                  <small>Listado de Plazas para ascenso de docentes</small>
                </h2>
              </div>
              <div class="col-lg-5 col-md-6 col-sm-12">
                <ul class="breadcrumb float-md-right">
                  <li class="breadcrumb-item">
                    <a href="/"><i class="zmdi zmdi-home"></i>App</a>
                  </li>
                  <li class="breadcrumb-item"><a href="/">Gestión de docentes</a></li>
                  <li class="breadcrumb-item active">Plazas para ascenso de docentes</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="container-fluid">
          
            <div class="row clearfix">
              <div class="col-lg-12">
                <div class="card">
                  <div class="header">
                    <!-- change semester later -->
                    <h2><strong>Proceso de solicitud de Plazas para ascenso de docentes <b>ACTIVO</b> </strong></h2>
                  </div>

                  <div class="body">
                    <input type="hidden" name="jwt" id="jwt" value="<%= jwt %>" />
                    <div class="irs-demo m-b-30 m-l-100 m-r-100">
                      <input type="text" id="range_09" value="" />
                    </div>

                    <div class="row clearfix pb-0 ">
                      <div class="col-md-4">
                        <label for="beginning"
                          >Fecha de Inicio para las secciones
                          </label
                        >
                        <div class="input-group">
                          <span class="input-group-addon">
                            <i class="zmdi zmdi-calendar"></i>
                          </span>
                          <input
                            type="text"
                            class="form-control date"
                            id="beginning"
                            placeholder="Elija la fecha de inicio"
                            data-dtp="dtp_wghlr"
                            required
                          />
                        </div>
                      </div>
                      <div class="col-md-4">
                        <label for="end"
                          >Fecha Fin para las secciones
                          </label
                        >
                        <div class="input-group">
                          <span class="input-group-addon">
                            <i class="zmdi zmdi-calendar"></i>
                          </span>
                          <input 
                            type="text"
                            class="form-control date"
                            id="end"
                            placeholder="Elija la fecha fin"
                            data-dtp="dtp_wghlr"
                            required
                          />
                        </div>
                      </div>
                    </div>

                    <div class="row pt-2 blocks ">
                      <div class="col-sm-12">

                        <button type="button" class="btn btn-primary initp">
                          Crear proceso
                        </button>
                        <button id="end-process-modal" type="button" class="btn btn-danger endp" data-toggle="modal" data-target="#endProcessModal" disabled>
                          Finalizar proceso
                        </button>
                      
                        <div class="float-right">

                          <button id="edit-request-places-new-teachers-modal" class="btn btn-info waves-effect margin-off"
                            data-color-name="alert-warning" style="width:18.5em !important;" disabled>
                            Editar
                          </button>

                        </div>
                      </div>
                    </div>

                 <!-- Exportable Table -->
                 <div class="table-responsive">
                    <table id="request-places-new-teachers-data-table" class="
                    table table-bordered table-striped table-hover
                    dataTable
                    js-exportable">
                      <thead style="background-color: #167bc3; color:white">
                        <tr>
                          <th colspan="2"></th>
                          <th colspan="3" style="text-align: center !important;">Principal</th>
                          <th colspan="3" style="text-align: center !important;">Auxiliar</th>
                        </tr>
                        <tr>
                          <th class="align-middle">Fecha de envio</th>
                          <th class="align-middle">Sección</th>
                          <th class="align-middle">Plazas solicitadas 
                          <th class="align-middle">Plazas aprobadas por el Departamento</th>
                          <th class="align-middle">Plazas aprobadas por la DAP</th>
                          <th class="align-middle">Plazas solicitadas </th>
                          <th class="align-middle">Plazas aprobadas por el Departamento</th>
                          <th class="align-middle">Plazas aprobadas por la DAP</th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                  </div>
                  
                  <!-- #END# Exportable Table -->
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </section>

        <button id="activate-edit-modal" data-toggle="modal" data-target="#editRequestPlacesNewTeachersModal"
          style="display: none;">
        </button>

        <!-- Edit Modal -->
        <div class="modal fade show" id="editRequestPlacesNewTeachersModal" tabindex="-1" role="dialog" style="display: none"
          aria-modal="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header" style="background-color: #2CA8FF">
                <h4 class="title pt-10 text-white"> Editar solicitud de plaza<i class="fas fa-edit pl-2"></i></h4>
              </div>
              <div class="modal-body">
                <div class="row clearfix">
                  <div class="col-lg-3 col-md-2 col-sm-5 form-control-label">
                    <label for="request-date">Fecha de envio</label>
                  </div>
                  <div class="col-lg-9 col-md-10 col-sm-7">
                    <div class="form-group">
                      <input type="text" name="date" id="date-request" class="form-control"
                        placeholder="No ingrese la fecha" disabled />
                    </div>
                  </div>
                </div>
                <div class="row clearfix">
                  <div class="col-lg-3 col-md-2 col-sm-5 form-control-label">
                    <label for="teacher-request">Seccion
                    </label>
                  </div>
                  <div class="col-lg-9 col-md-10 col-sm-7">
                    <div class="form-group">
                      <input type="text" name="teacher" id="teacher-request" class="form-control"
                        placeholder="No ingrese el docente" disabled />
                    </div>
                  </div>
                </div>
                <div class="row clearfix">
                  <div class="col-lg-3 col-md-2 col-sm-5 form-control-label">
                    <label for="requested-hours"> Cantidad de plazas para principal solicitadas</label>
                  </div>
                  <div class="col-lg-9 col-md-10 col-sm-7">
                    <div class="form-group">
                      <input type="number" name="requestedHours" id="requested-hours" class="form-control"
                        placeholder="No ingresar las horas solicitadas" disabled />
                    </div>
                  </div>
                </div>
                <div class="row clearfix">
                  <div class="col-lg-3 col-md-2 col-sm-5 form-control-label">
                    <label for="requested-hours-aux"> Cantidad de plazas para auxiliar solicitadas</label>
                  </div>
                  <div class="col-lg-9 col-md-10 col-sm-7">
                    <div class="form-group">
                      <input type="number" name="requestedHoursAux" id="requested-hours-aux" class="form-control"
                        placeholder="No ingresar las horas solicitadas" disabled />
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 pt-3">
                  <label class="mb-1" for="description">Justificación
                  </label>
  
                  <div class="form-group">
                    <textarea id="description" rows="8" class="form-control no-resize" style="background-color: gainsboro" disabled></textarea>
                  </div>
                </div>
                <div class="row clearfix">
                  <div class="col-lg-3 col-md-2 col-sm-5 form-control-label">
                    <label for="requested-approved-places-council"> Cantidad de plazas para principal aprobadas por el Departamento
                      <span class="required-field">*</span></label>
                  </div>
                  <div class="col-lg-9 col-md-10 col-sm-7">
                    <div class="form-group">
                      <input type="number" name="requestedApprovedPlacesCouncil" id="requested-approved-places-council"
                        class="form-control" placeholder="Ingresar la cantidad de plazas a aprobar por departamento" required />
                    </div>
                  </div> 
                </div>
                <div class="row clearfix">
                  <div class="col-lg-3 col-md-2 col-sm-5 form-control-label">
                    <label for="requested-approved-places-dap"> Cantidad de plazas para principal aprobadas por DAP
                      <span class="required-field">*</span></label>
                  </div>
                  <div class="col-lg-9 col-md-10 col-sm-7">
                    <div class="form-group">
                      <input type="number" name="requestedApprovedPlacesDap" id="requested-approved-places-dap"
                        class="form-control" placeholder="Ingresar la cantidad de plazas a aprobar por DAP" required />
                    </div>
                  </div> 
                </div>
                <div class="row clearfix">
                  <div class="col-lg-3 col-md-2 col-sm-5 form-control-label">
                    <label for="requested-approved-places-council"> Cantidad de plazas para auxiliar aprobadas por el Departamento
                      <span class="required-field">*</span></label>
                  </div>
                  <div class="col-lg-9 col-md-10 col-sm-7">
                    <div class="form-group">
                      <input type="number" name="requestedApprovedPlacesCouncil" id="requested-approved-places-council-aux"
                        class="form-control" placeholder="Ingresar la cantidad de plazas a aprobar por departamento" required />
                    </div>
                  </div> 
                </div>
                <div class="row clearfix">
                  <div class="col-lg-3 col-md-2 col-sm-5 form-control-label">
                    <label for="requested-approved-places-dap"> Cantidad de plazas para auxiliar aprobadas por DAP
                      <span class="required-field">*</span></label>
                  </div>
                  <div class="col-lg-9 col-md-10 col-sm-7">
                    <div class="form-group">
                      <input type="number" name="requestedApprovedPlacesDap" id="requested-approved-places-dap-aux"
                        class="form-control" placeholder="Ingresar la cantidad de plazas a aprobar por DAP" required />
                    </div>
                  </div> 
                </div>
              </div>
              <div class="modal-footer">
                <div class="float-left">
                  <button class="
                      btn btn-danger btn-round
                      waves-effect
                      justify-content-center
                      close-selected
                    " id="close-request-places-new-teachers-modal" data-dismiss="modal">
                    Cancelar
                  </button>
                </div>
                <div class="float-right">
                  <button id="edit-request-places-new-teachers" type="button"
                    class="btn btn-primary btn-round waves-effect justify-content-center" data-color-name="alert-warning"> Editar</button>
                </div>
              </div>
            </div>
          </div>
        </div>




        <div class="modal fade show" id="endProcessModal" tabindex="-1" role="dialog" style="display: none" aria-modal="true">
        <!-- <div id="endProcessModal" tabindex="-1" role="dialog"  aria-modal="true"> -->
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="background-color:red">
                        <h4 class="title pt-10 text-white">Finalizar Proceso</h4>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            ¿Está seguro de finalizar el proceso actual?
                          </div>
                    </div>
                    <div class="modal-footer">
                        <div class="float-left">
                            <button id="close-end-process-modal" class="btn btn-danger btn-round waves-effect justify-content-center" data-dismiss="modal">
                            Cancelar
                            </button>
                        </div>
            
                        <div class="float-right">
                            <button id="end-process" class="btn btn-primary btn-round waves-effect justify-content-center">
                            Finalizar
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
          
        <button id="success-end-process" class="btn btn-raised btn-primary waves-effect btn-round" data-type="success" style="display: none;">CLICK ME
        </button>

        <%- include('../partials/app/scripts', {view: 'sb-promotion-teachers' }); %>

          <!-- Jquery DataTable Plugin Js -->

          <script src="/light/assets/bundles/datatablescripts.bundle.js"></script>
          <script src="/assets/plugins/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
          <script src="/assets/plugins/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
          <script src="/assets/plugins/jquery-datatable/buttons/buttons.colVis.min.js"></script>
          <script src="/assets/plugins/jquery-datatable/buttons/buttons.html5.min.js"></script>
          <script src="/assets/plugins/jquery-datatable/buttons/buttons.print.min.js"></script>

          <script src="/assets/plugins/sweetalert/sweetalert.min.js"></script>
          <script src="/light/assets/bundles/mainscripts.bundle.js"></script>
          <script src="/assets/plugins/bootstrap-notify/bootstrap-notify.js"></script>
          <script src="/assets/plugins/select2/select2.min.js"></script>
          <script src="/assets/plugins/ion-rangeslider/js/ion.rangeSlider.js"></script> <!-- RangeSlider Plugin Js -->
          <script src="/assets/plugins/momentjs/moment.js"></script>
          <script src="/assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
          
          <script>
            var idDepartamento = "<%= idDepartamento %>";
          </script>

          <script src="/js/department-assistant/promotion-teachers.js" type="module"></script>

</body>

</html>