<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <%- include('../partials/head', {title: 'Restablecer Contraseña'}); %>
  <link rel="stylesheet" href="/light/assets/css/authentication.css" />
  <script src="https://kit.fontawesome.com/c1c34b92ef.js" crossorigin="anonymous"></script>
</head>

<body class="theme-purple authentication sidebar-collapse">
  <div class="page-header">
    <%- include('../partials/login/navbar'); %>

    <div class="page-header-image" style="background-image: url(/assets/images/login.jpg)"></div>
    <div class="container">
      <div class="col-md-12 content-center">
        <div class="card-plain">
          <div class="header">
            <div class="logo-container">
              <img src="/images/logo.png" alt="PUCP" />
            </div>
            <h5>¡Bienvenido al Sistema de Departamentos PUCP!</h5>
            <hr>
            <h6 style="color: #0d97ff;">Restablecimiento de Contraseña</h6>
          </div>

          <% if( existsMsg ){ %>
          <div class="alert alert-<%= type %>" role="alert">
            <div class="container p-0">
              <i class="fas fa-exclamation-triangle"></i>
              <%= msg %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">
                  <i class="zmdi zmdi-close"></i>
                </span>
              </button>
            </div>
          </div>
          <% } %>

          <div class="content">
            <% if(type !== 'success'){ %>
            <form action="/user/forgot-password" method="POST">
              <input type="hidden" name="_csrf" id="csrf" value="<%= csrfToken %>" />
              <div class="input-group input-lg">
                <input type="email" class="form-control" name="email" placeholder="Ingrese su correo electrónico" />
                <span class="input-group-addon">
                  <i class="zmdi zmdi-account-circle"></i>
                </span>
              </div>
              <div class="footer text-center">
                <input type="submit" value="Enviar Correo" class="btn btn-round btn-lg btn-block" style="background-color: #2ca8ff" />
              </div>
            </form>
            <% } %>
          </div>

        </div>
      </div>
    </div>

    <%- include('../partials/footer'); %>
  </div>

  <script src="/light/assets/bundles/libscripts.bundle.js"></script>
  <script src="/light/assets/bundles/vendorscripts.bundle.js"></script>
  <script src="/light/assets/bundles/mainscripts.bundle.js"></script>

  <script>
    $(".navbar-toggler").on("click", function() {
      $("html").toggleClass("nav-open");
    });

    $(".form-control")
      .on("focus", function() {
        $(this).parent(".input-group").addClass("input-group-focus");
      })
      .on("blur", function() {
        $(this).parent(".input-group").removeClass("input-group-focus");
      });
  </script>
</body>

</html>