<!DOCTYPE html>
<html class="no-js" lang="en">
c
<head>
  <%- include('../partials/head', {title: 'Listado de Descargas de docentes'}); %>
  <link rel="stylesheet" href="/assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css" />
  <link rel="stylesheet" href="/assets/plugins/dropzone/dropzone.css" />
  <link rel="stylesheet" href="/assets/plugins/bootstrap-select/css/bootstrap-select.css" />
  <link rel="stylesheet" href="/assets/plugins/select2/select2.css" />
  <link rel="stylesheet" href="/assets/plugins/sweetalert/sweetalert.css" />
  <link rel="stylesheet" href="/light/assets/css/main.css">
<!-- Range Slider Css -->
<link rel="stylesheet" href="../assets/plugins/ion-rangeslider/css/ion.rangeSlider.css" />
<link rel="stylesheet" href="../assets/plugins/ion-rangeslider/css/ion.rangeSlider.skinFlat.css" />

  <script src="https://kit.fontawesome.com/c1c34b92ef.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/assets/plugins/sweetalert/sweetalert.css" />
  
  <style>
    .request-less-hours-selected {
      background-color: #fff8b5 !important;
    }
    .check {
width:20px;
height:20px;
border-color: black;
}
  </style>
</head>

<body class="theme-purple">
  <%- include('../partials/app/header') %>
  <%- include('../partials/app/topbar'); %>
  <%- include('../partials/app/leftsidebar', {user}); %>

  <section class="content">
    <div class="block-header">
      <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
          <h2>
            Convocatoria de Candidatos a Docentes
            <small>Estado del proceso y listado de candidatos</small>
          </h2>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12">
          <ul class="breadcrumb float-md-right">
            <li class="breadcrumb-item">
              <a href="/"><i class="zmdi zmdi-home"></i>App</a>
            </li>
            <li class="breadcrumb-item"><a href="/">procesos Academicos</a></li>
            <li class="breadcrumb-item active">Plaza Nuevos Docentes</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <!-- Exportable Table -->
      <div class="row clearfix">
        <div class="col-lg-12">
          <div class="card">
            <div class="header">
              <!-- change semester later -->
              <h2><strong>Proceso de Convocatoria de Nuevos Docentes </strong></h2>
            </div>

            <div class="body">
            
              
              <div class="irs-demo m-b-30 m-l-100 m-r-100"> 
                <input type="text" id="range_09" value="" />
              </div>

              <div class="row clearfix pb-0 ">
                <div class="col-lg-2 col-md-6" id="from-date">
                  <b>Desde:</b>
                  <div class="input-group">
                    <span class="input-group-addon"
                      ><i class="zmdi zmdi-calendar"></i>
                    </span>
                    <input 
                      type="text"
                      class="form-control date"
                      placeholder="Ex: 30/07/2016"
                    />
                  </div>
                </div>
                <div class="col-lg-10 col-md-6 mt-3" id="from-date">
                  <button class="btn btn-primary float-right">Iniciar Proceso   </button>
                </div>
              </div>
    
              <div class="row clearfix pb-0 ">
                <div class="col-lg-2 col-md-6" id="to-date">
                  <b>Hasta:</b>
                  <div class="input-group">
                    <span class="input-group-addon"
                      ><i class="zmdi zmdi-calendar"></i>
                    </span>
                    <input 
                      type="text"
                      class="form-control date"
                      placeholder="Ex: 30/07/2016"
                    />
                  </div>
                </div>
                <div class="col-lg-10 col-md-6 mt-3" id="from-date">
                  <button class="btn btn-danger float-right">Finalizar Proceso </button>
                </div>
              </div>
              </div>

                <table id="candidates-table" class="
                table table-bordered table-striped table-hover
                dataTable
                js-exportable
              ">
            <thead style="background-color: #167bc3; color:white">
              <tr>
                <th>Candidato</th>
                <th>Correo</th>
                <th>Puntuaci贸n</th>
                <th>Informaci贸n</th>
              </tr>
            </thead>
            <tbody>
              <!-- courses have to be replace with requests -->
             </tbody>
          </table>


            </div>


          </div>


          </div>
              
        </div>
          
        
      
      <!-- #END# Exportable Table -->
    
  </section>

  <!-- Edit Modal -->
  <div class="modal fade show" id="editApplicationHoursModal" tabindex="-1" role="dialog" style="display: none;" aria-modal="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header bg-red">
          <h4 class="title pt-10">Editar solicitud de descarga</h4>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
          <div class="float-left">
            <button id="close-edit-application-hours" class="btn btn-danger btn-round waves-effect justify-content-center" data-dismiss="modal">
              Cancelar
            </button>
          </div>

          <div class="float-right">
            <button id="edit-application-hours" class="btn btn-primary btn-round waves-effect justify-content-center">
              Confirmar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Export to Excel -->
  <div class="modal fade show" id="loadMasiveDataModal" tabindex="-1" role="dialog" aria-modal="true" style="display: none;">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #167bc3;">
          <h4 class="title text-white">Carga Masiva de Cursos</h4>
        </div>
        <div class="modal-body">
          <!--
                <form class="dropzone" id="mydropzone" method="POST" enctype="multipart/form-data">
                  <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>"/>
                  <div class="fallback">
                    <input name="file" type="file" />
                  </div>
                </form>
                -->
          <div class="row">
            <div class="col-lg-12 pb-3">
              <a type="button" class="btn btn-round waves-effect g-bg-cgreen text-white" href="/files/Formato.xlsx">
                Descargar Formato en Excel
                <i class="fas fa-download pl-2"></i>
              </a>
            </div>

            <div class="col-lg-12">
              <form id="upload-widget" method="post" action="/assistant/load-courses" class="dropzone">
                <input type="hidden" name="_csrf" id="csrf" value="<%= csrfToken %>" />
              </form>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <div class="float-left">
            <button id="close-load-massive-modal" class="btn btn-danger btn-round
                      waves-effect" data-dismiss="modal">
              Cancelar
            </button>
          </div>

          <div class="float-right">
            <button id="load-data-courses" class="
                      btn btn-primary btn-round
                      waves-effect
                    ">
              Cargar Archivo
              <i class="fas fa-file-upload pl-2"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade show" id="derivateModal" tabindex="-1" role="dialog" aria-modal="true" style="display: none">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #167bc3">
          <h4 class="title text-white"></h4>
        </div>
        <div class="modal-body">
          <h2>Criterios De Evaluaci贸n</h2>
          <hr>
          <table id="criteria-table" class="
                table table-bordered table-striped table-hover
                dataTable
                js-exportable
              ">
            <thead style="background-color: #167bc3; color:white">
              <tr>
                <th>Habilitar</th>
                <th>Descripci贸n</th>
                <th>Puntaje Maximo</th>
                <th>Puntaje</th>
                
              </tr>
            </thead>
            <tbody>
              <!-- courses have to be replace with requests -->
             </tbody>
          </table>
          <div class="col-lg-12">
              <div class="float-right">
                  <b for="puntajeTotal">Puntaje total</b>
                  <input type="number" class="form-control" placeholder="20" id="puntajeTotal">
                  
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="float-left">
            <button id="close-derivate-modal" class="btn btn-danger btn-round waves-effect" data-dismiss="modal">
              Cancelar
            </button>
          </div>

          <div class="float-right">
            <button id="accept-derivation" class="btn btn-primary btn-round waves-effect">
              Guardar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('../partials/app/scripts', {view: 'sb-new-teachers-call'}); %>

  <!-- Jquery DataTable Plugin Js -->
  <script src="/light/assets/bundles/datatablescripts.bundle.js"></script>
  <script src="/assets/plugins/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
  <script src="/assets/plugins/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
  <script src="/assets/plugins/jquery-datatable/buttons/buttons.colVis.min.js"></script>
  <script src="/assets/plugins/jquery-datatable/buttons/buttons.html5.min.js"></script>
  <script src="/assets/plugins/jquery-datatable/buttons/buttons.print.min.js"></script>
  <script src="/assets/plugins/select2/select2.min.js"></script>
  <script src="/assets/plugins/bootstrap-notify/bootstrap-notify.js"></script>
  <script src="/light/assets/bundles/mainscripts.bundle.js"></script>

  <script src="/assets/plugins/ion-rangeslider/js/ion.rangeSlider.js"></script> <!-- RangeSlider Plugin Js --> 

  <script>
    var jwt = "<%= jwt %>";
    var requestsLessHours = JSON.parse('<%-JSON.stringify(requestsLessHours)%>');
    //var teachers = JSON.parse('<%-//JSON.stringify(teachers)%>');
  </script>

  <script src="/js/section-coordinator/new-teachers-call.js" type ="module"></script>

</body>

</html>